<%- include("partials/boilerplate.ejs") %>
<link rel = "stylesheet" href = "/styles/main.css">
<body>
    

  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/doctor/<%=id%>" class="d-inline-flex link-body-emphasis text-decoration-none">
          <span class="fs-4">BookaDR</span>
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/doctor/<%=id%>" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="/doctor/previous/<%=id%>" class="nav-link px-2">Previous</a></li>
        <li><a href="/doctor/upcoming/<%=id%>" class="nav-link px-2">Completed</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-primary">Logout</button>
      </div>
    </header>
  </div>

    <h2>Ongoing appointment</h2>

    <% if (patient) {%>
    <div class = "card-container">
        <div class="card text-bg-light" style="width: 18rem;">
            <div class="card-body">
              <h3 class="card-title bold"><%= patient.name%></h3>
              <p class="card-text"><span class = "bold">Appointment No.: </span><%= doc.ongoingPatient.appointmentNo%></p>
              <p class="card-text"><span class = "bold">Appointment Time: </span><%= doc.ongoingPatient.appointmentTime%></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><span class = "bold">Age: </span> <%=patient.age%></li>
              <li class="list-group-item"><span class = "bold">Blood Group: </span> <%=patient.bloodGrp%></li>
              <li class="list-group-item"><span class = "bold">Contact No: </span> <%=patient.contact%></li>
            </ul>
            <div class="card-body">
              <form method = "GET" action = "/doctor/done/<%=id%>">
                <input type = "submit" class="card-link btn btn-success" value = "Done">
              </form>
            </div>
          </div>

    </div>

    <%} else { %>

      <p id = "none">You have no current patients</p>

     
      <%}%>
      

        

    </div>
</body>
