<%- include("partials/boilerplate.ejs") %>
<%-include("includes/flash.ejs")%>
<link rel = "stylesheet" href = "/styles/doc.css">
<body>
    
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
          <div class="col-md-3 mb-2 mb-md-0">
            <a href="/patient/<%=id%>" class="d-inline-flex link-body-emphasis text-decoration-none">
              <span class="fs-5">Hi, <%=name%></span>
            </a>
          </div>
    
          <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            
            <li> <% if(prev) {%><a href="/patient/prev/<%=id%>" class="nav-link px-2  link-secondary">Past appointments</a></li>
            <li><a href="/patient/<%=id%>" class="nav-link px-2">Upcoming appointments</a></li>
            <% } else { %>
                <a href="/patient/prev/<%=id%>" class="nav-link px-2">Past appointments</a></li>
                <li><a href="/patient/<%=id%>" class="nav-link px-2 link-secondary">Upcoming appointments</a></li>
            <% } %>
            <li><a href="/patient/book/<%=id%>" class="nav-link px-2">Book an appointment</a></li>
          </ul>
    
          <div class="col-md-3 text-end">
            <button type="button" class="btn btn-primary"><a class="nav-link" href="/logout"><b>LogOut</b></a></button>
          </div>
        </header>
      </div>


      <div id = "container">

        <% if(arr.length){ arr.forEach(element => {%>
          <% if(element.finishedPatients.length){ element.finishedPatients.forEach(ele => {%>
        <div class = "card-container">
            <div class="card text-bg-light" style="width: 18rem;">
                <div class="card-body">
                  <h3 class="card-title bold"><%= element.name%></h3>
                  <h4 class="card-title bold"><%= element.hospitalName%></h4>
                  <h5 class="card-title bold"><%= element.contact%></h5>
                </div>

                <ul class="list-group list-group-flush text-bg-light">
                  <li class="list-group-item"><span class = "bold">Appointment No.: </span><%= ele.appointmentNo%></li>
                  <li class="list-group-item"><span class = "bold">Appointment Time: </span><%= ele.appointmentTime%></li>

                </ul>
                <div class="card-body pb-2">
                  <li class="list-group-item"><a class = "bold btn btn-primary" href="/patient/<%=element._id%>/view/<%=ele.appid%>">View Receipt</a></li>
                </div>
                
              </div>
    
        </div>
        <%})}%>
        <% })} else { %>

            <p class = "bold">Nothing to show here</p>
        
        <% } %>


      </div>

</body>
